<robot name="rollerwalker" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find rollerwalker_sim)/xacro/include/leg_macro.xacro" />
    <xacro:include filename="$(find rollerwalker_sim)/xacro/include/gazebo_plugin.xacro" />

    <!-- 本体の描画 -->
    <link name="base_link">
        <origin xyz="0 0 ${body_z}" rpy="0 0 0"/>
    </link>

    <joint name="base_to_body" type="fixed">
        <parent link="base_link"/>
        <child  link="body"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- ボディ --> 
    <link name = "body">
        <inertial>
            <origin xyz="0 0 0.0" rpy="0 0 0"/> 
            <mass value ="${body_mass}"/>
            <inertia ixx="${I_body_xx}" ixy="0.0" ixz="0.0" iyy="${I_body_yy}" iyz="0.0" izz="${I_body_zz}"/>
        </inertial>
        <visual>
            <geometry>
                <box size = "${body_length} ${body_width} ${body_thickness}" />
            </geometry>
            <origin xyz="0 0 0.0" rpy="0 0 0"/> 
            <material name = "white"/>
        </visual>

        <collision>
            <geometry>
                <box size = "${body_length} ${body_width} ${body_thickness}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
    </link>
    <gazebo reference="body">
        <material>Gazebo/White</material>
    </gazebo>

    <!-- 脚のマクロの呼び出し -->
    <xacro:leg_macro leg_posi="lf"/>
    <xacro:leg_macro leg_posi="lr"/>
    <xacro:leg_macro leg_posi="rr"/>
    <xacro:leg_macro leg_posi="rf"/>

    
</robot>