<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <rosparam command="load" file="$(find rollerwalker_sim)/config/rollerwalker_param.yaml"/>

  <!-- gazebo関連 -->
  <include file="$(find rollerwalker_sim)/launch/rollerwalker_gazebo.launch" />

  <!-- キーボード操作 -->
  <node name="my_teleop_key_board" pkg="rollerwalker_sim" type="my_teleop_twist_keyboard"/>
  <!-- ドライバーの起動（速度司令） -->
  <node name="rollerwalker_driver" pkg="rollerwalker_sim" type="rollerwalker_driver" output="screen"/>
  <!-- joint_recieverの起動(gazeboからの状態の取得) -->
  <node name="joint_state_reciever" pkg="rollerwalker_sim" type="joint_state_reciever" output="screen"/>
  <!-- <ホイールオドメトリ -->
  <node name="wheel_odom_publisher" pkg="rollerwalker_sim" type="wheel_odom_pub" output="screen"/>
  <!-- RVIZ -->
  <arg name="rvizconfig" default="$(find rollerwalker_sim)/rviz/rollerwalker.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  
</launch>