<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="isPaused" default="true"/>
  <arg name="rviz" default="false"/>
  
  <!-- シミュレーション時間の使用 -->
  <param name="/use_sim_time" value="true" />
  <!-- gazebo関連 -->
  <include file="$(find rollerwalker_sim)/launch/rollerwalker_gazebo.launch">
    <arg name="is_paused" default="$(arg isPaused)" />
  </include>

  <!-- RVIZ -->
  <group if="$(arg rviz)">
    <arg name="rvizconfig" default="$(find rollerwalker_bringup)/rviz/rollerwalker.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  </group>


  
</launch>